body {
  background: #191919;
  color: #c0c0c0;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
}

a {
  color: #fb2;
}

.toc .nav > li > a:hover, .toc .nav > li > a:focus {
  color: #fff;
}

header div.navbar {
  background: #333;
  border-color: #000;
}

div.sidefilter, div.sidetoc,
body div.toc {
  background: #121212;
}

.alert-info, .alert-info h5 {
  color: #d9edf7;
  background: #004458;
  border-color: #005873;
}

.alert-warning, .alert-warning h5 {
  color: #fffaf2;
  background: #80551a;
  border-color: #99661f;
}

.alert-danger, .alert-danger h5 {
  color: #fff2f2;
  background: #4d0000;
  border-color: #600;
}

article pre {
  background: #191919;
  border-color: #121212;
}

code.hljs,
code.hljs .hljs-tag {
  color: #efefef;
}

code {
  background: #4a4c52;
  color: #fff;
}

nav.affix {
  overflow-y: auto;
  padding-right: 15px;
}

nav.affix > ul.level1 {
  overflow: visible;
}

nav.affix ul > li > a {
  color: #ccc;
}

div.footer {
  background: #252525;
}